//- The following html file is related to history
extends layout

block content
    .topnav
        a.active(href='/') Home
        a(href='/history') History

    h1  The Thought Collector History

    table 

        thead 

            tr 
                th Journal Title
                th Journal
                th Keyword 

        tbody
            each record in content
                tr 
                    td= record.journalTitle
                    td= record.journalText 
                    td= record.tag 