//- The following html is related to the homepage. Consisting of the title, text, keyword, and submission of the journal
extends layout

block content

  .topnav
    a.active(href='/') Home
    br
    a(href='/history') History
  h1  The Thought Collector
  h2  
  border1
    label Welcome! Feel free to document your thoughts here.
    br
    br
    br
    form(method="get" action="/submit")
      input(placeholder= "Journal Title" id="journalTitle" name="journalTitle")
      select(name='tag' id='tag')     
        option(name='DEFAULT' value='DEFAULT') Select
        option(name= 'PRODUCTIVITY' value='PRODUCTIVITY') Productivity
        option(name='GOALS' value='GOALS') Goals
        option(name='SCHOOL' value='SCHOOL') School
      br
      br
      textarea(placeholder= "What's on your mind?" name='journalText' id='journalText' rows='10' cols='100')
      br
      button(type="submit") I'm finished 

    p #{submitMsg}
    a(href=`${submitLink}`) Your Recommendation

    

