extends layout

block content
  .topnav
    a.active(href='#home') Home
    a(href='html_HistoryPage.html') History
  h1  The Thought Collector
  h2  
  border1
    label Hi friend!
    br
    br
    br
    form(method="get" action="/submit")
      input(placeholder= "Journal Title" id="journalTitle" name="journalTitle")
      br
      br
      textarea(placeholder= "What's on your mind?" name='jounralText' id='jounralText' rows='10' cols='100')

      select(name='tag' id='tag')     
        option(name='DEFAULT' value='DEFAULT') Select
        option(name= 'PRODUCTIVITY' value='PRODUCTIVITY') Productivity
        option(name='GOALS' value='GOALS') Goals
        option(name='SCHOOL' value='SCHOOL') School
      
      br
      button(type="submit") I'm finished 

    

