body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  display: inline;
  padding-right: 5%;
}

table, th, td {
  border: 1px solid;
}


/* html, body {
  height: 100%;
} */

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}